.about {
    background-color: transparent;
    font-size: 1.1em;
    color: black;
  }
  
  .profile {
    max-width: 18em;
    border-color: transparent;
    background-color: transparent;
  }
  

  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: white;
  }
  .abt{
    color: darkgrey;
    text-align: center;
    font-size: 3em;
  }