.logo {
  width: 20%;
  border-color: white;
}

.nav-theme {
  background-color: transparent;
  font-size: 19px;
}

.animate-navbar {
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}