.focus {
    transition: transform 0.3s;
  }
  
  .focus:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 2em;
    font-weight: 700;
  }
  
  .image-style {
    width: 3em;
  }
  
  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: white;
  }
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: darkgrey;
  }
  .card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
 }
 .card-text{
   color: grey;
 }

 .d-flex{
   color: rgb(255, 255, 255);
 }
 .imgAltText{
   color: white;
 }